{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
<h1>Latest snippets</h1>
{{if .Snippets}}
  {{range .Snippets}}
  <article>
    <h2><a href="/snippet/view/{{.ID}}">{{.Title}}</a></h2>
    <div>{{.Created | humanDate}}</div>
  </article>
  {{end}}
{{else}}
  <p>There is nothing to see yet.</p>
{{end}}
{{end}}
