{{define "base"}}
<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{template "title" .}} - Snippetbox</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <header><a href="/">Snippetbox</a></header>
  {{template "nav" .}}
  {{with .Flash}}<div class="flash">{{.}}</div>{{end}}
  <main>{{template "main" .}}</main>
  <footer>Powered by Go</footer>
</body>
</html>
{{end}}
